@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  background: black;
  color: white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 222, 128, 0.35);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(74, 222, 128, 0.6);
}

/* Remove Tap Highlight */
* {
  -webkit-tap-highlight-color: transparent;
}